/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@mixin default-styles {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
* {
  font-family: "Poppins", sans-serif !important;
  // @include default-styles();
}

ion-grid,
ion-row,
ion-col {
  @include default-styles();
  width: 100%;
}

ion-select {
  @include default-styles();
  --highlight-color-focused: none !important;
}

.alert-wrapper ion-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-header {
  width: 100%;
  box-shadow: none !important;
  background-color: #fcfcfc;
}

/*--------------- ION-CONTENT ----------------*/
ion-content {
  width: 100%;
  --background: #fcfcfc;
}

/*--------------- ION-BUTTON ----------------*/
ion-button {
  @include default-styles();
  width: 100%;
  --background: #7f3dff;
  --border-radius: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --box-shadow: none;
  color: #fcfcfc;
  font-size: 1.125rem;
  font-weight: 600;
}

h6,
h5,
p,
img {
  @include default-styles();
}

/*--------------- ION-ITEM ----------------*/
ion-item {
  --border-style: none !important;
  --background: transparent;
  --inner-padding-end: 0px;
}

ion-item::part(native) {
  padding: 0;
}

/*--------------- ION-INPUTS ----------------*/
ion-input,
ion-textarea {
  --highlight-color-focused: none !important;
}

// ion-datetime::part(calendar-day today) {
//   border: #fd3c4a 1px solid !important;
// }

/*--------------- ION-MODAL ----------------*/
ion-modal {
  // padding: 1rem;
  --background: white;
  backdrop-filter: blur(8px);
  --border-radius: 24px 24px 0 0;
}

ion-modal::part(handle) {
  background: #eee5ff !important;
}

/*--------------- ION-TEXT ----------------*/
ion-text {
  // Currency
  color: #292b2d;
  font-size: 1rem;
  font-weight: 500;
}

/*--------------- ION-TOGGLE ----------------*/
ion-toggle::part(track) {
  width: 3rem;
  height: 1.5rem;
  background: #eee5ff;
}

ion-toggle.toggle-checked::part(track) {
  background: #7f3dff;
}

ion-toggle::part(handle) {
  height: 1.5rem;
  width: 1.5rem;
  background: #fcfcfc;
}

ion-toggle.toggle-checked::part(handle) {
  background: #fcfcfc;
}
