ion-row.header {
  height: 4rem;
  width: 100%;
  background-color: #f1f1fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
ion-select.range-select {
  color: #212325;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid #F1F1FA;
}
ion-content {
  --background: #f1f1fa;
}
.profile-img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
