ion-content {
  & ion-row {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & ion-text:last-child {
    // USD
    display: flex;
    align-items: center;
    color: #91919f;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
  }
}
