<ion-header [translucent]="true">
  <app-header title="Settings"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-bottom">
    <ion-row *ngFor="let option of options" id="settings-modal" (click)="openModal(option)">
      <ion-text>{{option?.label}}</ion-text>
      <ion-text>
        {{option?.defaultOption}}
        <ion-icon src="../../../../assets/icons/arrow right 2.svg"></ion-icon>
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-text>{{'About'}}</ion-text>
      <ion-text>
        <ion-icon src="../../../../assets/icons/arrow right 2.svg"></ion-icon>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text>{{'Help'}}</ion-text>
      <ion-text>
        <ion-icon src="../../../../assets/icons/arrow right 2.svg"></ion-icon>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>

