<div class="modal-content ion-padding">

  <!-- RESET -->
  <ion-grid class="ion-margin-top ion-margin-bottom">
    <ion-row class="filter-header">
      <ion-col style="display: flex; justify-content: start;">
        <ion-text class="modal-text-headers">Filter Transaction</ion-text>
      </ion-col>
      <ion-col style="display: flex; justify-content: end;">
        <ion-button class="reset-btn">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- FILTER & SORT -->
  <ion-grid class="ion-margin-bottom">
    <ion-row class="ion-margin-bottom">
      <ion-text class="modal-text-headers">Filter By</ion-text>
    </ion-row>
    <ion-row class="" style="display: flex; justify-content: space-between;">
      <ion-button class="filter-btn">Income</ion-button>
      <ion-button class="filter-btn">Expense</ion-button>
      <ion-button class="filter-btn">Transfer</ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-margin-bottom">
    <ion-row class="ion-margin-bottom">
      <ion-text class="modal-text-headers">Sort By</ion-text>
    </ion-row>
    <ion-row style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <ion-button class="sort-btn">Highest</ion-button>
      <ion-button class="sort-btn">Lowest</ion-button>
      <ion-button class="sort-btn">Newest</ion-button>
      <ion-button class="sort-btn">Oldest</ion-button>
    </ion-row>
  </ion-grid>

  <!-- CATEGORY SELECTION -->
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-text class="modal-text-headers">Category</ion-text>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col style="display: flex; justify-content: start;">
        <ion-text class="modal-text-normal">Choose Category</ion-text>
      </ion-col>
      <ion-col style="display: flex; justify-content: end;">
        <ion-select placeholder="0 selected" class="modal-select-category" interface="action-sheet">
          <ion-select-option>Category 1</ion-select-option>
          <ion-select-option>Category 2</ion-select-option>
          <ion-select-option>Category 3</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <!-- FOOTER -->
    <ion-row class="ion-no-margin">
      <ion-button class="apply-btn">
        Apply
      </ion-button>
    </ion-row>
  </ion-grid>
</div>

