<form [formGroup]="expenseForm">
  <div class="header">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-back-outline" size="large" (click)="dismissModal()"></ion-icon>
        </ion-col>
        <ion-col size="10"> <ion-text>Expense</ion-text></ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-text>How much?</ion-text>
        <ion-input placeholder="₹" formControlName="amount" type="number"></ion-input>
      </ion-row>
    </ion-grid>
  </div>

  <div class="content">
    <ion-grid >
      <ion-row>
        <ion-input placeholder="Name" formControlName="name"></ion-input>
        <ion-input placeholder="Category" formControlName="category"></ion-input>
        <ion-select placeholder="Account" interface="action-sheet" formControlName="account">
          <ion-select-option value="HDFC">{{'HDFC BANK'}}</ion-select-option>
          <ion-select-option value="DBS">{{'DBS BANK'}}</ion-select-option>
          <ion-select-option value="SBI">{{'SBI BANK'}}</ion-select-option>
        </ion-select>
        <ion-select placeholder="Tags" interface="action-sheet" formControlName="tags" multiple="true">
          <ion-select-option value="chai">{{'Chai'}}</ion-select-option>
          <ion-select-option value="fuel">{{'Fuel'}}</ion-select-option>
          <ion-select-option value="outdoor-food">{{'Outdoor Food'}}</ion-select-option>
          <ion-select-option value="investment">{{'Investment'}}</ion-select-option>
        </ion-select>
        <!-- <ion-datetime formControlName="date"> -->
          <ion-datetime-button placeholder="Date" datetime="datetime"></ion-datetime-button>
        <!-- </ion-datetime> -->
        <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
      </ion-row>
    </ion-grid>
  </div>

  <div class="footer">
    <ion-button (click)="dismissModal()" (click)="submitForm()">Continue</ion-button>
  </div>
</form>

<!-- DATETIME MODAL -->
<ion-modal [keepContentsMounted]="true" #modal>
  <ng-template>
    <ion-datetime id="datetime" [showDefaultButtons]="true"></ion-datetime>
  </ng-template>
</ion-modal>
