@mixin input-style {
  font-size: 1rem;
  font-weight: 400;
  --highlight-color-focused: none;
  --color: #0d0e0f;
  --padding-bottom: 0.5rem;
  --padding-top: 0.5rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --background: #fcfcfc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$black: #0d0e0f;
$red: #fd3c4a;
$white: #fcfcfc;
$purple: #7f3dff;

ion-input {
  @include input-style();
  --margin-bottom: 1rem;
  --border-radius: 1rem;
  --border-color: #fd3c4a;
  --border-width: 1px;
}

ion-select {
  @include input-style();
  margin-bottom: 1rem;
}

ion-select::part(container) {
  @include input-style();
  color: #0d0e0f;
  width: 100%;
}

ion-select::part(placeholder) {
  color: #0d0e0f;
  // font-size: large;
  font-weight: normal;
  font-family: "poppins";
}

ion-button {
  --background: #7f3dff;
  --color: #fcfcfc;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1rem;
  --padding-bottom: 0.5rem;
  --padding-top: 0.5rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  width: 100%;
  height: 40px;
  word-wrap: break-word;
}

ion-datetime {
  --background: #fcfcfc;
}

ion-datetime::part(calendar-day):focus {
  background-color: #fd3c4a;
  color: #fcfcfc;
  box-shadow: none;
  border: none;
}

ion-datetime::part(calendar-day) {
  color: #0d0e0f;
  box-shadow: none;
}

ion-datetime-button::part(native) {
  background-color: #fcfcfc;
  color: #0d0e0f;
  padding: 0;
  margin: 0;
}

ion-action-sheet {
  background-color: red !important;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #fd3c4a;
}

.header {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fd3c4a;
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 600;
}
.content {
  width: 100%;
  height: 80vh;
  background-color: #fd3c4a;
}

.footer {
  height: 10vh;
  width: 100%;
  padding: 16px;
  background-color: #fcfcfc;
}

.content-part-1 {
  width: 100%;
  height: 30%;
  background-color: #fd3c4a;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.content-part-2 {
  width: 100%;
  height: 70%;
  background-color: #fcfcfc;
  border-radius: 32px 32px 0px 0px;
  padding: 24px 16px;
}

.ion-custom-input-1 {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 4.8rem;
  color: #fcfcfc;
  font-size: 64px;
  font-weight: 600;
  word-wrap: break-word;
  padding: 0;
  gap: 5px;
}

.ion-custom-input-1-label {
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 600;
}

.ion-custom-input-2 {
  width: 100%;
  height: 3.3rem;
  line-height: 18px;
  padding: 8px 16px;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  border: 1px #f1f1fa solid;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  color: #212325;
  font-size: 16px;
  font-weight: 500;
}
