<div class="container">
  <div class="header">
    <h5>{{title}}</h5>
    <ion-button *ngIf="showButton">See all</ion-button>
  </div>

  <div class="content" *ngFor="let transaction of transactions">
    <div class="card">
      <div class="thumbnail" [style.background]="transaction.color">
        <img [src]=transaction.src>
      </div>
      <div class="info">
        <h6>{{'Shopping'}}</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ab delectus at, magni tempora autem
          vel omnis quod unde id illum corrupti temporibus consectetur facilis perspiciatis rerum eos velit quaerat!</p>
      </div>
      <div class="amount">
        <h6>{{'$ 250'}}</h6>
        <p>{{'10:00 AM'}}</p>
      </div>
    </div>
  </div>
</div>
